.Card {
	height: 26em;
	width: 34em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #e2e2e2;
}

#Header {

}

#Status {

}

#Footer {
	position: absolute;
	bottom: 0;
	right: 2em;
	width: 25em;
	justify-content: space-between;
	display: flex;
}

#profilePic {
	height: 4em;
	width: 4em;
	border-radius: 50%;
}

#statusPic {
	margin-top: .2em;
	height: 18em;
	width: 29em;
	float: right;
}